.van-default-pulling,
.van-default-loosing,
.van-default-loading,
.van-default-finished,
.van-default-error {
    text-align: center;
    color: #969799;
    font-size: 14px;
}

.van-default-error {
    color: #ee0a24;
}
